<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password_digest %><br>
    <%= f.text_field :password_digest %>
  </div>
  <div class="field">
    <%= f.label :token %><br>
    <%= f.text_field :token %>
  </div>
  <div class="field">
    <%= f.label :idRedeSocial %><br>
    <%= f.text_field :idRedeSocial %>
  </div>
  <div class="field">
    <%= f.label :password_reset_key %><br>
    <%= f.text_field :password_reset_key %>
  </div>
  <div class="field">
    <%= f.label :password_reset_sent_at %><br>
    <%= f.datetime_select :password_reset_sent_at %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
